@{
    ViewBag.Title = "Contact";
}

<!--Using Ajax to prevent page Load-->

<h2>@ViewBag.Title.</h2>

<div id="formSection">
    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "formSection" }))
    {
      
            <div>@ViewBag.Message</div>
            <textarea  id="message" name="message"></textarea>
            <input type="submit" value="send" />
        
    }


</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>